.container {
  width: 100%;  max-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--bg-card);
  color: var(--text-primary);
  border-radius: var(--radius-md);
  padding: var(--spacing-md);
box-shadow: rgba(109, 100, 100, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;

}
.container:hover{
  transform: scale(1.05)
}
.container img {
  border-radius: 16px;
}
.nomeFilme {
 
  text-align: center;
  color: var(--text-primary);
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Número de linhas que você quer mostrar */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.informacoes {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.botao {
  background-color: var(--primary);
  color:var(--text-primary);
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao:hover {
  background-color: var(--primary-hover); 
  transform: translateY(-2px); 
 box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
