.Container_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 250px));
    gap: var(--spacing-lg);
    padding: var(--spacing-lg);

    justify-content: center;
    width: 100%;
}