.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 2rem;

  background: #0d0d0d;
  border-bottom: 1px solid #1f1f1f;
}
.ul {
  list-style-type: none;
  padding: 2rem;
}
.ul li a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;

  background: #1a1a1a;
  color: #fff;

  border: 1px solid #2a2a2a;
  transition: 0.3s;
}

.ul li a:hover {
  background: #262626;
  transform: scale(1.1);
  transition: 0.3s;
}
.container_search {
  display: flex;
  gap: 3px;
  overflow: hidden;
  border-radius: 50px;
}
.search {
  width: 400px;
  max-width: 90%;
  padding: 0.3rem 1rem;
  padding: 0.6rem 1.2rem;
  border-radius: 50px 0 0 50px;

  border: 1px solid #e0e0e0;
  background-color: #f8f9fa;
  color: #333;

  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}
.search:focus {
  background-color: #ffffff;
  border-color: #007bff;
  box-shadow: 0 4px 6px rgba(150, 103, 3, 0.34);
  transform: translateY(-1px);
}
.search::placeholder {
  color: #999;
  font-style: italic;
}

.botao {
  padding: 0.6rem 1.2rem;
  border: none;

  background: linear-gradient(135deg, #ff7a00, #ff4d00);
  color: #fff;

  cursor: pointer;
    border-radius: 0px 0 0 0px;

  transition: 0.3s;
}
.botao:hover {
  opacity: 0.85;
  transform: scale(1.1);
}

.link {
  display: none;
}

.link_principal {
  display: block;
}
/* 📱 ATÉ 860px (tablet / mobile) */
@media (max-width: 860px) {
  .nav {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .nav img {
    display: none;
  }

  .container_search {
    width: 100%;
    justify-content: center;
  }

  .search {
    width: 250px;
  }


  .botao {
    padding: 0.6rem 1.2rem;
      border-radius: 0 50px 50px 0;
  }

  .link {
    display: block;
  }

  .link_principal {
    display: none;
  }
}

/* 📱 MOBILE MENOR */
@media (max-width: 570px) {
  .nav {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .search {
    width: 200px;
  }

  .botao {
    padding: 0.6rem 1.2rem;
      border-radius: 0 50px 50px 0;
  }
}
