.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}
.ul {
  list-style-type: none;
  padding: 2rem;
}
.ul li a {
  text-decoration: none;
  font-weight: 700px;
  font-size: 20px;
  font-family: var(--font);

  padding: 0.6rem 1.5rem;
  border-radius: 50px; 
  cursor: pointer;
  

  background-color:var( --primary);
  color: #ffffff;
  border: none;
  
  
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(150, 103, 3, 0.34);
}
.ul li a:hover {
   background-color:var( --primary-hover);
}
.container_search{
    display: flex;
    gap: 10px;
}
.search {
  width: 400px;
  max-width: 90%;
  padding: 0.3rem 1rem;
 padding: 0.6rem 1.2rem;
  border-radius: 50px; 
  

  border: 1px solid #e0e0e0;
  background-color: #f8f9fa;
  color: #333;
  
 
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05); 
}
.search:focus {
  background-color: #ffffff;
  border-color: #007bff; 
  box-shadow: 0 4px 6px rgba(150, 103, 3, 0.34);
  transform: translateY(-1px); 
}
.search::placeholder {
  color: #999;
  font-style: italic;
}

.botao {
 
  padding: 0.6rem 1.5rem;
  border-radius: 50px; 
  cursor: pointer;
  

  background-color: var(--primary);
  color: #ffffff;
  border: none;
  
  
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(150, 103, 3, 0.34);
}


.botao:hover {
  background-color: var(--primary-hover); 
  box-shadow: 0 4px 6px rgba(150, 103, 3, 0.34);
  transform: translateY(-2px); 
}

.botao:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(150, 103, 3, 0.423);
}
.link{
  display: none;
}

@media (max-width: 800px) {
.nav img{
    display: none;
}
.link{
  display: none;
}
  }
  
  .search {
    width: 300px;
  }
@media (max-width: 750px) {
  .container_ul{
    flex-direction: column;
  }
  .link{
  display: block;
}
.link_principal{
  display: none;
}

}

@media (max-width: 550px) {
  .nav {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    align-items: center; 
  }
  .search {
    width: 200px;
  }
  .nav img {
    display: none;
  }
  .botao {
 
  padding: 0.6rem 1rem;
}
.link{
  display: none;
}
.link_principal{}

  
}


