.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.container span{
    font-size: 70px;
}
.container button {
  padding: .5rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color:var(--primary);
  color: white;
  cursor: pointer;
  transition: opacity 0.2s;
}

.container button:hover {
  opacity: 0.8;
}